@model IEnumerable<Uzbekistan_Social_Fund.Models.Applicant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="myTable" class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMarried)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PINFLNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WardId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhysicalAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelephoneContacts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMarried)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PINFLNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WardId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhysicalAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneContacts)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmailAddress">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmailAddress">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmailAddress">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
