@model Uzbekistan_Social_Fund.Models.MemberEducation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MemberEducation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LangugeProfiency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LangugeProfiency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WriteProfiency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WriteProfiency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolAttendance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolAttendance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasAttendedSchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasAttendedSchool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighestSchoolLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighestSchoolLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseMember)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseMember.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
